<input type="text" [(ngModel)]="prodotto.descrizione">Descrizione
<br>
<input type="number" [(ngModel)]="prodotto.prezzo">Prezzo
<br>
<br>
<button (click)="aggiungi()">Aggiungi</button>
<button (click)="svuota()">Svuota catalogo</button>
<button (click)="aggiorna()">Aggiorna catalogo</button>
<table *ngIf="catalogoVisualizzato.length > 0">
  <tr>
    <th>Id</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
    <th>Azioni</th>
  </tr>
  <tr *ngFor="let c of catalogoVisualizzato; index as i">
    <td>{{c.id}} </td>
    <td>{{c.descrizione}} </td>
    <td>{{c.prezzo}}</td>
    <td><button (click)="cancella(i)">Cancella</button></td>
  </tr>
</table>